extends _includes/layout

block content
  .mb-2.text-5
    .blue.bold=fileName

  .border.border-gray-4.rounded-2.bg-gray-1
    form(action=`/update/${fileName}` method="post")
      each field in fields
        .flrnw.p-1
          .fln.w-25p.bold.text-5.pr-2.flrnw.flc=field.name
          .fla
            input.p-2.w-100p.text-3.border.border-gray-3.rounded-2(name=field.name value=field.value type="text")

      .flrnw.p-1.flrar
        .fln
          button.bold.text-5.bg-blue.px-1.py-02.white.rounded-2(type="submit") Submit

