//- ---
//- title: Scroll margin
//- ---

block content
  :markdown-it
    `norska` adds the `.scroll-mt-{size}` utilities to control the [scroll
    margin](https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-margin).

    `.scroll-mt-{size}` classes can be used on anchors. When following a link
    pointing to such an anchor, it controls how much space must be scrolled
    above the target link. This is used on this very own website to always keep
    the headers visible when following the link, even when they would be hidden
    by the header otherwise.
    
    
  +tailwind_tests
    +tailwind_table_header
    each key in data.tailwind.theme('scrollMargin')
      - const className=`scroll-mt-${key}`
      +tailwind_table_line(className)
        .w-100p
          .bold(id=`anchor-${key}` class=className)
            a(href=`#anchor-${key}`)=`#anchor-${key}`
