mixin loader(attributes)      
  svg(class=attributes.class xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24")
    circle(class="opacity-25p" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4")
    path(class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z")

mixin down_arrow(attributes)
  svg(class=attributes.class fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor")
    path(d="M19 14l-7 7m0 0l-7-7m7 7V3")

mixin tailwind_tests
  h3 Tests
  p.italic.text-2 The following block lists all related classes and is used for automated visual regression testing.
  .screenshot
    block

mixin tailwind_table_header(one='Class', two='Example')
  .flex.w-100p.bg-gray-1.gray-7.border-001.border-r-0.border-l-0.border-gray-3
    .w-50p.pl-2.py-01.bold=one
    .w-50p.pl-2.py-01.bold=two

mixin tailwind_table_line(className)
  .flex.w-100p.border-b-001.border-gray-3
    .w-50p.flex.items-center.pl-1
      .mono=`.${className}`
    .w-50p.pl-2
      block
