//- ---
//- layout: percy
//- title: Z-index
//- ---

block content
  .bg-checkered.pb-6
    .w-20.h-20.m-auto.relative
      each key in data.tailwind.theme('zIndex')
        - 
          backgroundIndex = parseInt(key) % 9 + 1
          classes = [
          `bg-blue-${backgroundIndex}`,
            `mt-${key}0p`,
            `ml-${key}0p`,
            `z-${key}`
          ]
        .w-20p.h-20p.absolute.border-001.border-gray.rounded(class=classes)
          .text-3.bold.bg-white.gray-9.inline-block.px-02.rounded=`.z-${key}`

