extends /_includes/_layouts/core

block meta
  - meta.title = "Z-index"
  - pageClasses = data.tailwind.getClasses('zIndex', 'z');

block content
  .screenshot.p-3
    .p-6
      .w-20.h-20.relative
        .w-10.h-10.absolute.-top-10p.-left-10p.border-001.border-gray-9
          .bg-gray.inline-block.px-01
            code.code.bg-gray.white=`.z-0`
        each zIndexClass, index in pageClasses
          - backgroundClass = `bg-green-${index}`
          - leftClass = `left-${index-1}0p`
          - topClass = `top-${index-1}0p`
          - classNames = [zIndexClass, backgroundClass, leftClass, topClass]
          .w-10.h-10.absolute.border-001.border-gray-9(class=classNames)
            .bg-gray.inline-block.px-01
              code.code.bg-gray.white=`.${zIndexClass}`
